body {
    font-family: Arial, sans-serif;
    background-color: #F8F2DC;
    background: url(./forest-3082836_1920.jpg) no-repeat center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
    color: #D16014;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background: #F8F2DC;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 40px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.carrito-container {
    margin-top: 20px;
}

.carrito {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.item-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.item-carrito button {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.item-carrito button:hover {
    background: #c82333;
}

.cantidad {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cantidad button {
    background: #D16014;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.cantidad button:hover {
    background: #6c320b;
}

.total {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.comprar {
    display: block;
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.comprar:hover {
    background: #218838;
}

.agregar {
    background-color: #313715;
    color: #fff;
    margin: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.agregar :hover {
    background-color: black;
}